<% title "Forums" %>

<%= render :partial => "forums/navigation", :locals => {:type => :all_forums} %>

<%= render 'users/user_login_info' %>

<table id="forum_table">
  <thead>
    <tr>
      <th class="forum_th"></th>
    </tr>
  </thead>
  <tbody>
    <% for forum in @forums
        threads = forum.forum_threads
        thread_nr = (threads).length %>
      <tr>
        <td class="forum_td"><strong><%= link_to forum.name, forum %></strong> (<%= thread_nr %> threads)<br /><%= forum.description %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th class="forum_th"></th>
  </tfoot>
</table>

