<%= nav_links(render 'users/user_login_info') %>
<%= subnav_links(render :partial => "forums/navigation", :locals => {:type => :new_forum}) %>

<%=form_for @forum do |f|%>
  <p>
  <strong>Name</strong><br />
  <%=f.text_field :name %><br />
  </p>

  <p>
  <strong>Description</strong><br />
  <%=f.text_area :description %>
  </p>

  <p>
  <%=f.submit "Create Forum"%>
  </p>
<%end%>

