<% title @forum.name %>

<p>

<%= link_to "All forums", forums_path %> / <strong><%= @forum.name %></strong><br />
</p>

<p>
  <%= link_to "New thread", new_forum_forum_thread_path(@forum) %>
</p>

<table id="forum_table">
  <thead>
  <tr>
    <th class="thread_th">Thread</th>
    <th class="thread_th">Message</th>
    <th class="thread_th">#Replies</th>
  </tr>
  </thead>
  <tbody>
  <% @forum.forum_threads.each do |f| %>
  <tr>
    <td class="forum_td"><%=link_to f.title, forum_forum_thread_path(f)%></td>
    <td class="forum_td"><%= f.body %></td>
    <td class="forum_td"><%=f.forum_posts.size%></td>
  <tr>
  <% end %>
  </tbody>
</table>

