<%= nav_links(render 'users/user_login_info') %>
<%= subnav_links(render :partial => "articles/navigation", :locals => {:type => :all_articles}) %>

<% if can?(:create, Article) %>
  <p>
  <%= link_to 'New Article', new_article_path %>
  </p>
<% end %>

<table id="articles_table">
  <% i = 0
  @articles.each do |article| %>
    <%= raw "<tr>" if i%3 == 0 %>
      <td class="articles_td">
        <% publish = false
        publish = true if article.visible and !(article.title_en.empty? and article.title_no.empty?) and !(article.body_en.empty? and article.body_no.empty?) %>
        <% if publish %>
          <strong><%= link_to (truncate (!article.title_en.empty? ? article.title_en : article.title_no), :length => 30), article_path(article) %></strong><br />
          <%= truncate (!article.body_en.empty? ? article.body_en : article.body_no), :length => 250 %><br />
          <%= link_to "Read more...", article_path(article) %>
        <% end %>
    </td>
    <%= raw "</tr>" if i%3 == 2 %>
  <% i+= 1 if publish %>
<% end %>
</table>



