<p>Profile picture</p>
<p><%= image_tag @user.picture.url(:medium) %></p>
<p><%= f.file_field :picture %></p>

<p><%= f.label :firstname %></p>
<p><%= f.text_field :firstname %></p>

<p><%= f.label :surname %></p>
<p><%= f.text_field :surname %></p>

<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>

<p>Description of yourself</p>
<p><%= f.text_area :description %></p>

<% if can? :read, Role %>
  <p><%= f.label :roles %></p>
  <p><%= @roles %></p>
<% end %>
