<p><%= f.label :firstname %></p>
<p><%= f.text_field :firstname %></p>

<p><%= f.label :surname %></p>
<p><%= f.text_field :surname %></p>

<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>

<% if can? :read, Role %>
  <p><%= f.label :role %></p>
  <ul class="no-pad no-bullets">
    <%#= habtm_checkboxes(@user, :role_ids, @accessible_roles, :name) %>
  </ul>
<% end %>
