<%= render :partial => "forums/navigation", :locals => {:type => :edit_user} %>

<%= render 'users/user_login_info' %>

<table id="forum_table">
  <thead>
  <tr>
    <th class="thread_th">Name</th>
    <th class="thread_th">E-mail</th>
    <th class="thread_th">Roles</th>
    <th class="thread_th">Actions</th>
  </tr>
</thead>
<tbody>
<% @users.each do |u| %>
  <tr>
    <td class="thread_td"><%= link_to_if(can?(:read, User), "#{u.name}", user_path(u.id)) {} %></td>
    <td class="thread_td"><%= "#{u.email}" %></td>
    <td class="thread_td"><%= "#{u.roles.collect{|r| r.name}}" %></td>
    <td class="thread_td">
      <%= link_to_if(can?(:edit, User), image_tag("edit.png"), edit_user_path(u.id)) {} %>
      <%= link_to_if(can?(:delete, u), image_tag("trash.png"), u, :confirm => "Are you sure?", :method => :delete) {} %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
