<%= nav_links(render 'users/user_login_info') %>
<%= subnav_links(render :partial => "forums/navigation", :locals => {:type => :edit_user}) %>


<table id="forum_table">
  <thead>
  <tr>
    <th class="thread_th">Name</th>
    <th class="thread_th">E-mail</th>
    <th class="thread_th">Roles</th>
  </tr>
</thead>
<tbody>
<% @users.each do |u| %>
  <tr>
    <td class="thread_td"><%= link_to_if(can?(:read, User), "#{u.name}", user_path(u.id)) {} %></td>
    <td class="thread_td"><%= "#{u.email}" %></td>
    <td class="thread_td"><%= "#{u.roles.collect{|r| r.name}}" %></td>
   </tr>
<% end %>
</tbody>
</table>
