<%= nav_links(render 'users/user_login_info') %>
<%= subnav_links(render :partial => "forums/navigation", :locals => {:type => :new_user}) %>

<h2>Register User</h2>


<%= form_for(@user, :html => { :multipart => :true }) do |f| %>
  <%#= error_messages(@user,"Could not register user") %>

	<%= render :partial => 'user_fields', :locals => { :f => f, :roles => @roles, :roles_new => @roles_new} %>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Register" %></p>
<% end %>
