<h1>New Post</h1>
<p>New reply for the following thread:<br />
<strong>Title:</strong> <%= @forum_thread.title %><br />
<strong>Body:</strong> <%= @forum_thread.body %>
</p>

<p>
<%=form_for ([@forum_thread,@forum_post]) do |f|%>
  <strong>Title</strong><br />
  <%=f.text_field :title %><br /><br />
  <strong>Text</strong><br />
  <%=f.text_area :body %><br /><br />
  <%=f.submit "Create Post"%>
<%end%>
</p>



