<% nav_links raw(render "users/user_login_info") %>

<% forum = @forum_thread.forum %>
<%= subnav_links raw(render :partial => "forums/navigation", :locals => {:type => :edit_thread, :forum => forum, :thread => @forum_thread}) %>

<h1>Edit Thread</h1>
<%= form_for(@forum_thread, :action => "update") do |f|%>
  <p>
  <strong><%= f.label :title %></strong><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <strong><%= f.label :body %></strong><br />
  <%= f.text_area :body %>
  </p>

  <p>
  <%= f.submit "Edit Thread" %>
  </p>
<% end %>

