<% nav_links raw(render "users/user_login_info") %>

<%= subnav_links raw(render :partial => "forums/navigation", :locals => {:type => :new_thread, :forum => @forum}) %>


<h1>New Thread</h1>
<%= form_for([@forum,@forum_thread]) do |f|%>
  <p>
  <strong><%= f.label :title %></strong><br />
  <%= f.text_field :title %>
  </p>
  <p>
  <strong><%= f.label :body %></strong><br />
  <%= f.text_area :body %>
  </p>

  <p>
  <%= f.submit "New Thread" %>
  </p>
<% end %>
