<% forum = @forum_thread.forum %>
<%= render :partial => "forums/navigation", :locals => {:type => :thread, :forum => forum, :thread => @forum_thread} %>

<%= render 'users/user_login_info' %>

<table id="forum_post_table">
  <thead>
  <tr>
    <th>User</th>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
    <tr class="forum_column">
      <% thread_user = @forum_thread.user if @forum_thread %>
      <td class="forum_post_user_td"><%= (thread_user ? thread_user.name : "Can't find user" ) %><br />
      <%= get_user_post_text(thread_user) if thread_user %>
      </td>
      <td class="forum_post_td"><strong><%= @forum_thread.title %></strong> at <%= @forum_thread.created_at %><br /><%= @forum_thread.body %><br /><br />
        <%= link_to "Edit", edit_forum_thread_path(@forum_thread) %>
        <% if @forum_thread.updated_at != @forum_thread.created_at %>
          <i>(last edit at <%= @forum_thread.updated_at %>)</i>
        <% end %>
      </td>
    </tr>
  <% @forum_thread.forum_posts.each do |f| %>
    <tr class="forum_column">
      <td class="forum_post_user_td"><%= (f and f.user ? f.user.name : "Can't find user" ) %><br />
      <%= get_user_post_text(f.user) if f %>
      </td>
      <td class="forum_post_td"><strong><%= f.title %></strong> at <%= f.created_at %><br /><%= f.body %><br /><br />
        <%= link_to "Edit", edit_forum_post_path(f) %>
        <% if f.updated_at != f.created_at %>
          <i>(last edit at <%= f.updated_at %>)</i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

